#p1{
    border: 2px solid;
    width: 250px;
    height: 250px;
    background-color: aqua;
    text-align: center;
    font-size: large;
    animation: mySlide;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-delay: 0ms;
    animation-duration: 0ms;
}

@keyframes mySlide{
    from{margin-left: 0%;}
    to{margin-right: 100%;}
}