body{
    background-image: url("gigachad.jpg");
    color: aliceblue;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}